@{
    ViewBag.Title = "Home Page";
}

<a onclick="downloadSpreadsheet()" class="btn btn-primary"><i class="glyphicon glyphicon-download-alt" id="downloadSpreadsheet"></i> Download Spreadsheet</a>

<script>

    function downloadSpreadsheet() {
    
    }

</script>