<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-8">
        <input placeholder="Something todo" [(ngModel)]="todoModel.description" name="description"
          class="form-control" required/>
      </div>
      <div class="col-2">
        <select [(ngModel)]="todoModel.status" name="status" required>
          <option value="Pending">Pending</option>
          <option value="In Progress">In Progress</option>
          <option value="Done">Done</option>
          <option value="Cancelled">Cancelled</option>
        </select>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary  mb-2" [disabled]="!form.form.valid">Save Todo</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h2>ToDos</h2>
        <div class="card-body">
          <ul class="list-group">
            <div *ngFor="let todo of todos; index as i;">
              <div [ngSwitch]="todo.status">
                <li *ngSwitchCase="'Pending'"
                  class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
                  <span>{{todo.description}}</span>
                  <div>
                    <span class="font-weight-bold">{{todo.status}}</span>
                    <span class="ml-5"><button class="btn btn-outline-primary oi oi-pencil" (click)="onEdit(todo)"></button></span>
                  </div>
                </li>
                <li *ngSwitchCase="'In Progress'"
                  class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                  <span>{{todo.description}}</span>
                  <div>
                    <span class="font-weight-bold">{{todo.status}}</span>
                    <span class="ml-5"><button class="btn btn-outline-primary oi oi-pencil" (click)="onEdit(todo)"></button></span>
                  </div>
                </li>
                <li *ngSwitchCase="'Done'"
                  class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                  <span>{{todo.description}}</span>
                  <div>
                    <span class="font-weight-bold">{{todo.status}}</span>
                    <span class="ml-5"><button class="btn btn-outline-primary oi oi-pencil" (click)="onEdit(todo)"></button></span>
                  </div>
                </li>
                <li *ngSwitchCase="'Cancelled'"
                  class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
                  <span>{{todo.description}}</span>
                  <div>
                    <span class="font-weight-bold">{{todo.status}}</span>
                    <span class="ml-5"><button class="btn btn-outline-primary oi oi-pencil" (click)="onEdit(todo)"></button></span>
                  </div>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>